{% extends 'blog/base.html' %}

{% block content %}

{% for x in posts %}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ x.image.url }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ x.title }}</h5>
          <p class="card-text"> <b>{{ x.category }}</b> {{ x.content | safe }} </p>
          <img src="{{ post.image.url }}" class="img-fluid" />
          <a class="nav-link active" aria-current="page" href="{% url 'detail' x.id %}">View Detail</a>
          <p class="card-text"> by <i>{{ x.author }}</i> <small class="text-muted"> {{ x.date|timesince }} ago </small></p>
        </div>
      </div>
    </div>
</div>
{% endfor %}





{% endblock %}